@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
  font-weight: 400;
}
body {
  font-family: "Nunito", sans-serif;
  font-family: "PT Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 150px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
.nav-links a {
  color: #77838f;
  font-size: 16px;
  letter-spacing: 1.2px;
}
.nav-links a img {
  margin-left: 10px;
}
.btn-blue {
  background-color: #142d71;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.fa-bars {
  display: none;
  color: #77838f;
}
@media (max-width: 1021px) {
  .nav-links {
    display: none;
  }
  .fa-bars {
    display: flex;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 40px;
  }
}

/* INTROSECTION Section */
.introsection {
  display: flex;
  padding-left: 150px;
  height: 622px;
  gap: 20px;
}
.intro-left-side {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  row-gap: 15px;
}
.intro-left-side h1 {
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 1.42px;
  color: #1e2022;
}
.intro-left-side p {
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.6px;
  color: #77838f;
}
.intro-btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.intro-btns img {
  border-radius: 50%;
  border: 1px solid transparent;
}
.intro-btns img:hover {
  border: 1px solid #969da3;
  transition: 0.3s ease-in;
}
.intro-btns span {
  color: #77838f;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}
.intro-right-side {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #192b74 0.42%, #2946a1 100%);
  border-bottom-left-radius: 80%;
}
.intro-right-side img {
  border-radius: 50%;
  border: 1px solid transparent;
}
.intro-right-side img:hover {
  border: 1px solid #969da3;
}
@media (max-width: 1068px) {
  .intro-left-side h1 {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 1px;
  }
}
@media (max-width: 1021px) {
  .introsection {
    flex-direction: column;
    align-items: center;
    padding: 20px 150px;
    height: auto;
  }
  .intro-left-side {
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .intro-right-side {
    border-radius: 0;
    width: 100%;
    padding: 50px;
  }
}

@media (max-width: 768px) {
  .introsection {
    padding: 40px;
  }
}

/* CAROUSEL Section */
.slider-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  background: linear-gradient(135deg, #192b74 0.42%, #2946a1 100%);
  height: 300px;
  margin-top: 250px;
  position: relative;
}
.slider-elements-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 150px;
  position: absolute;
  bottom: 100px;
}
.slider-nav {
  position: absolute;
  bottom: 40px;
  cursor: pointer;
}
.slider-element {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 30%;
  min-width: 300px;
  background-color: #fff;
  padding: 20px;
}
.slider-element h6 {
  font-size: 18px;
  letter-spacing: 0.68px;
  color: #1e2022;
}
.slider-element p {
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.6px;
  color: #77838f;
  margin-top: 20px;
  margin-bottom: 40px;
}
.slider-img-div {
  background-color: #cfdbff;
  width: 200px;
  height: 140px;
}

@media (max-width: 1239px) {
  .slider-section {
    height: auto;
    margin-top: 100px;
    position: static;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .slider-elements-container,
  .slider-nav {
    position: static;
  }
}

@media (max-width: 600px) {
  .slider-elements-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* RESERVATIONS Section */
.reservations {
  display: flex;
  flex-wrap: wrap;
  padding: 70px 150px;
}
.reservations-left-side {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reservations-img-div {
  background-color: #cfdbff;
  width: 460px;
  height: 385px;
  min-width: 200px;
}
.reservations-right-side {
  flex-basis: 50%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.reservation-heading {
  display: flex;
}
.reservation-heading h6 {
  font-size: 16px;
  letter-spacing: 0.79px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
  background-color: #f0d9d8;
  color: #ec615b;
}
.reservations-right-side h1 {
  font-size: 32px;
  letter-spacing: 1.2px;
}

.reservations-right-side p {
  font-size: 17px;
  letter-spacing: 0.6px;
  line-height: 27px;
  color: #77838f;
}
.reservations-right-side .list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.list-icon {
  background-color: #cfdbff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 15px 30px;
}
.list-icon:hover {
  background: linear-gradient(135deg, #192b74 0.42%, #2946a1 100%);
  cursor: pointer;
  transition: 0.3s ease;
}
.list-item p {
  font-size: 14px;
  letter-spacing: 0.49px;
}
@media (max-width: 1219px) {
  .reservations {
    justify-content: center;
    align-items: center;
  }
  .reservations-left-side,
  .reservations-right-side {
    flex-basis: 100%;
  }
  .reservations-right-side {
    margin-top: 40px;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .reservations {
    padding: 40px;
  }
  .reservations-right-side h1 {
    font-size: 30px;
  }
  .list-item p {
    letter-spacing: 0;
  }
}

/* FAST-REPORTS Section */
.fast-reports {
  display: flex;
  flex-wrap: wrap;
  padding: 70px 150px;
}
.fast-reports-left-side {
  flex-basis: 50%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.fast-reports-heading {
  display: flex;
}
.fast-reports-heading h6 {
  font-size: 16px;
  letter-spacing: 0.79px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
  background-color: #f0d9d8;
  color: #ec615b;
}
.fast-reports-left-side h1 {
  font-size: 32px;
  letter-spacing: 1.2px;
}

.fast-reports-left-side p {
  font-size: 17px;
  letter-spacing: 0.6px;
  line-height: 27px;
  color: #77838f;
}
.fast-reports-left-side .list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.list-icon {
  background-color: #cfdbff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 15px 30px;
}
.list-icon:hover {
  background: linear-gradient(135deg, #192b74 0.42%, #2946a1 100%);
  cursor: pointer;
  transition: 0.3s ease;
}
.list-item p {
  font-size: 14px;
  letter-spacing: 0.49px;
}
.fast-reports-right-side {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fast-reports-img-div {
  background-color: #cfdbff;
  width: 460px;
  height: 385px;
  min-width: 200px;
}
@media (max-width: 1219px) {
  .fast-reports {
    justify-content: center;
    align-items: center;
  }
  .fast-reports-left-side,
  .fast-reports-right-side {
    flex-basis: 100%;
  }
  .fast-reports-left-side {
    margin-bottom: 40px;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .fast-reports {
    padding: 40px;
  }
  .fast-reports-left-side h1 {
    font-size: 30px;
  }
  .list-item p {
    letter-spacing: 0;
  }
}
